.taskWrapper {
    margin-top: 20px;
    overflow: scroll;
}

.aboutProject {
    /* border: 2px solid orange; */
    width: 250px;
    float: left;
    margin-right: 40px;
}

.addTaskBut {
    float: left;
}

.todosArea {
    /* overflow: scroll; */
    width: 1100px;
    clear: both;
    overflow: hidden;
    display: inline-block;
    /* border: 2px solid red;  */
}

.taskItem {
    min-height: 55px;
    width: 180px;
    text-align: left;
    padding-left: 3px;
    /* background-color: #2940bf; */
    border: 5px solid #2940bf;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-top: 5px;
}

.aboutTodo {
    /* width: 150px; */
    /* background-color: aquamarine; */
    overflow: hidden;
    word-wrap: break-word;
}

.taskItem:hover {
    background-color: #2940bf0d;
}

.emplName {
    color: rgba(0, 0, 0, 0.473);
}

.todos {
    /* overflow: hidden; */
    display: inline-block;
    border: 1px dotted rgba(14, 14, 14, 0.26);      
    min-height: 100px;
    width: 250px;
    margin: 10px;
    float: left;
  }

.inProgress {
    float: left;
    border: 1px dotted rgba(14, 14, 14, 0.26); 
    min-height: 100px;
    width: 250px;
    margin: 10px;
}

.inTesting {
    float: left;
    border: 1px dotted rgba(14, 14, 14, 0.26); 
    min-height: 100px;
    width: 250px;
    margin: 10px;
}  
  
.completed {
    float: left;
    border: 1px dotted rgba(14, 14, 14, 0.26);
    min-height: 100px;
    width: 250px;
    margin: 10px;
}

.linkToEditTask {
 text-decoration: none;
 color: rgba(0, 0, 0, 0.54);;
};
