/* .EddEmplForm {
    text-align: center;
    font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    margin: 0 auto;
    width:550px;
}

.EddEmplForm h2, .EddEmplForm label {
    font-family:Georgia, Times, "Times New Roman", serif;
}

.form_hint, .required_notification {
    font-size: 11px;
}

.EddEmplForm ul {
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
   }
   .EddEmplForm li{
    padding-bottom:  12px;
    padding-top:  12px;
    position:relative;
   }

   .EddEmplForm li:first-child, .EddEmplForm li:last-child {
    border-bottom:3px solid rgba(66, 85, 135, 0.81);
   }

   .EddEmplForm h2 {
    margin:0;
    display: inline;
   }

   .EddEmplForm label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
   }
   .EddEmplForm input {
    height:20px;
    width:220px;
    padding:5px 8px;
   }

   .select {
       width: 240px;
   }

    button.submit {
        background-color: white;
        border: 3px solid rgba(66, 85, 135, 0.81);
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 rgba(66, 85, 135, 0.81);
        color: black;
        font-weight: bold;
        padding: 6px 20px;
        text-align: center;
    } */