.App {
  /* display: flex; */

  text-align: center;
  margin: 0;
  border: 0;
  overflow: hidden;
}

.Logo-area {
  
  background: url(images/logo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
	/* position: relative; */
  width: 100%;
  height: 100vh;
  overflow:hidden;
  
  /* padding: 50px; */
}

.Dark-area {
  display: block; 
  width: 86%;
  height: 52%;
  position: absolute;
  top: 24%;
  left: 7%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.66);

}

/* .Wellcome {
  display: block; 
  width: 86%;
  height: 72%;
  position: absolute;
  top: 24%;
  left: 7%;
  font: 82px 'Arial',sans-serif;
  background-color: aquamarine;
} */

.pageContent {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  background-color: white;
  overflow: hidden;
}

.EmployeesList-area {
  overflow: hidden;
  text-decoration: none;
}

.linkBut {
  color: white;
  text-decoration: none;
}

button {
  cursor: pointer;
}