/* .EmployeePageArea {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: rgba(9, 63, 240, 0.159);
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    overflow: hidden;
} */

.EmployeePageContent {
    width: 85%;
    margin: 0 auto;
    height: 100vh;
    background-color: white;
    overflow: hidden;
}

.TopMenu {
    width: 100%;
    /* background-color: blueviolet; */
}

.toEmplList {
    /* background-color: brown; */
    width: 120px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    float: left;
    border-bottom: 5px solid rgb(48, 91, 156);
}

.toProjList {
    /* background-color: brown; */
    margin-left: 5px;
    width: 120px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    float: left;
    border-bottom: 5px solid rgb(48, 91, 156);
}

.Link {
    text-decoration: none;
    color: black;
}

.Content {
    padding-top: 10px;
    clear: both;
}

.avatarArea {
    float: left;
    overflow: hidden;
    height: 150px;
    width:150px;
    margin-left: 15px;
    margin-top: 10px;
}

/* .avatar {
    height: 350px;
    width:350px;
    float: left;
} */

/* .NoPhotoMessage {
    margin: 0 auto;
    width: 100px;
    margin-top: 60px;
    color: rgba(0, 0, 0, 0.495);
} */

/* img  */
.employeesAvatar {
    height: 750px;
    width:750px;
}

.uploadArea {
    clear: both;
    float: left;
}

.aboutAmployee {
    margin-top: 20px; 
    /* background-color: bisque; */
    overflow: hidden;
    /* width: 800; */
    height: 130px;
    float: left;
    padding-left: 10px;
}

.employeePosition {
    font-size: 16px;
    width: 180px;
    margin: 0px;
    padding: 0px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.796);
}

.employeeName {
    font-size: 20px;
    width: 180px;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    /* overflow: hidden; */
}

.skillsArea {
    /* margin-left: 120px; */
    /* padding: 20px; */
    margin-top: 10px; 
    /* background-color: rgb(196, 255, 247); */
    overflow: hidden;
    width: 400px;
    text-align: center;
    /* height: 110px; */
}

.selectArea {
    font-weight: bold;
    display: block;
    float: left;
    width: 200px;
}
.selectEmployeePage {
    width: 120px;
}

