/* .EmployeePageArea {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: rgba(9, 63, 240, 0.159);
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    overflow: hidden;
} */

/* .pageContent {
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    background-color: white;
    overflow: hidden;
} */

.Link {
    text-decoration: none;
    color: black;
}

.Content {
    padding-top: 10px;
    clear: both;
    padding-left: 20px;
    padding-right: 20px;
}

.avatarArea {
    float: left;
    overflow: hidden;
    height: 150px;
    width:150px;
    margin-left: 15px;
    margin-top: 10px;
}

.aboutAmployee {
    margin-top: 20px; 
    /* background-color: bisque; */
    overflow: hidden;
    width: 250px;
    height: 130px;
    float: left;
    padding-left: 10px;
    text-align: center;
    padding-left: 20px;
}

.employeePosition {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.604);
}

.employeeName {
    font-size: 20px;
    /* width: 180px; */
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    /* overflow: hidden; */
}

.skillsArea {
    /* margin-left: 120px; */
    /* padding: 20px; */
    margin-top: 10px; 
    /* background-color: rgb(196, 255, 247); */
    overflow: hidden;
    width: 600px;
    text-align: center;
    /* height: 110px; */
}

.emplSkills {
    float: left;
    width: 150px;
    text-align: center;
}

.selectArea {
    /* background-color: antiquewhite; */
    font-weight: bold;
    display: block;
    float: left;
    width: 300px;
}

.selectEmployeePage {
    width: 120px;
}

.projectsArea {
    /* background-color: rgb(48, 91, 156); */
    width: 100%;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
