.LogoAuth {
    margin-top: -50px;
    background: url(../../images/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    width: 100%;
    height: 100vh;
    overflow:hidden;
  }

h2 {
    color: white;
}

.AuthWrapper {
    float: right;
    display: block; 
    width: 96%;
    height: 92%;
    position: absolute;
    overflow: hidden;
    width: 300px;
    height: 600px;
    margin: 0 auto;
    background-color: transparent;
    position: fixed;
    left: 50%;
    margin-left: -150px;
    padding-top: 50px;
}